<app-header></app-header>
<app-top-nav-bar></app-top-nav-bar>
<div class="typrography">
  <div class="container">
    <h3 class="tittle">Short Codes</h3>
    <div class="grid_3 grid_4 wow fadeInLeft animated" data-wow-delay=".5s">
      <h3 class="bars">Headings</h3>
      <div class="bs-example">
        <div class=" mb-60">
          <h1>Heading H1</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita saepe veniam quo consequuntur ad totam
            rem aliquid voluptates hic eos ullam, sequi nihil necessitatibus beatae perspiciatis perferendis, eveniet
            at esse vero molestiae debitis distinctio sunt modi. Repellat, eligendi, eius! Veritatis in veniam, tempora
            tempore ratione provident. Sunt nulla similique voluptates magni labore maxime tempore error sed
            necessitatibus ab. Quisquam, nisi.</p>
          <h2>Heading H2</h2>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<app-footer></app-footer>