<!-- gallery -->
<div class="gallery">
  <div class="container">
    <h1>User Dashboard</h1>
    <h3 class="tittle">Gallery</h3>
    <div class="gallery-grids">
      <div class="col-md-6 baner-top wow fadeInRight animated" data-wow-delay=".5s">
        <a href="../../assets/images/g1.jpg" class="b-link-stripe b-animate-go  swipebox">
          <div class="gal-spin-effect vertical ">
            <img src="../../assets/images/g1.jpg" alt=" " />
            <div class="gal-text-box">
              <div class="info-gal-con">
                <h4>Infirmary</h4>
                <span class="separator"></span>
                <p>Sit accusamus, vel blanditiis iure minima ipsa molestias minus laborum velit, nulla nisi hic quasi
                  enim.</p>
                <span class="separator"></span>

              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-6 baner-top wow fadeInLeft animated" data-wow-delay=".5s">
        <a href="../../assets/images/g2.jpg" class="b-link-stripe b-animate-go  swipebox">
          <div class="gal-spin-effect vertical ">
            <img src="../../assets/images/g2.jpg" alt=" " />
            <div class="gal-text-box">
              <div class="info-gal-con">
                <h4>Infirmary</h4>
                <span class="separator"></span>
                <p>Sit accusamus, vel blanditiis iure minima ipsa molestias minus laborum velit, nulla nisi hic quasi
                  enim.</p>
                <span class="separator"></span>

              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3 baner-top ban-mar wow fadeInUp animated" data-wow-delay=".5s">
        <a href="../../assets/images/c1.jpg" class="b-link-stripe b-animate-go  swipebox">
          <div class="gal-spin-effect vertical ">
            <img src="../../assets/images/c1.jpg" alt=" " />
            <div class="gal-text-box">
              <div class="info-gal-con">
                <h4>Infirmary</h4>
                <span class="separator"></span>
                <p>Sit accusamus, vel blanditiis iure minima ipsa.</p>
                <span class="separator"></span>

              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3 baner-top ban-mar wow fadeInDown animated" data-wow-delay=".5s">
        <a href="../../assets/images/c2.jpg" class="b-link-stripe b-animate-go  swipebox">
          <div class="gal-spin-effect vertical ">
            <img src="../../assets/images/c2.jpg" alt=" " />
            <div class="gal-text-box">
              <div class="info-gal-con">
                <h4>Infirmary</h4>
                <span class="separator"></span>
                <p>Sit accusamus, vel blanditiis iure minima ipsa.</p>
                <span class="separator"></span>

              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3 baner-top ban-mar wow fadeInUp animated" data-wow-delay=".5s">
        <a href="../../assets/images/c3.jpg" class="b-link-stripe b-animate-go  swipebox">
          <div class="gal-spin-effect vertical ">
            <img src="../../assets/images/c3.jpg" alt=" " />
            <div class="gal-text-box">
              <div class="info-gal-con">
                <h4>Infirmary</h4>
                <span class="separator"></span>
                <p>Sit accusamus, vel blanditiis iure minima ipsa.</p>
                <span class="separator"></span>

              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3 baner-top ban-mar wow fadeInUp animated" data-wow-delay=".5s">
        <a href="../../assets/images/c4.jpg" class="b-link-stripe b-animate-go  swipebox">
          <div class="gal-spin-effect vertical ">
            <img src="../../assets/images/c4.jpg" alt=" " />
            <div class="gal-text-box">
              <div class="info-gal-con">
                <h4>Infirmary</h4>
                <span class="separator"></span>
                <p>Sit accusamus, vel blanditiis iure minima ipsa.</p>
                <span class="separator"></span>

              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-6 baner-top wow fadeInRight animated" data-wow-delay=".5s">
        <a href="../../assets/images/g7.jpg" class="b-link-stripe b-animate-go  swipebox">
          <div class="gal-spin-effect vertical ">
            <img src="../../assets/images/g7.jpg" alt=" " />
            <div class="gal-text-box">
              <div class="info-gal-con">
                <h4>Infirmary</h4>
                <span class="separator"></span>
                <p>Sit accusamus, vel blanditiis iure minima ipsa molestias minus laborum velit, nulla nisi hic quasi
                  enim.</p>
                <span class="separator"></span>

              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-6 baner-top wow fadeInLeft animated" data-wow-delay=".5s">
        <a href="../../assets/images/g8.jpg" class="b-link-stripe b-animate-go  swipebox">
          <div class="gal-spin-effect vertical ">
            <img src="../../assets/images/g8.jpg" alt=" " />
            <div class="gal-text-box">
              <div class="info-gal-con">
                <h4>Infirmary</h4>
                <span class="separator"></span>
                <p>Sit accusamus, vel blanditiis iure minima ipsa molestias minus laborum velit, nulla nisi hic quasi
                  enim.</p>
                <span class="separator"></span>

              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
<!-- //gallery -->