<app-header></app-header>
<app-top-nav-bar></app-top-nav-bar>
<!-- banner -->
<div class="banner">
	<script>
		// You can also use "$(window).load(function() {"
		$(function () {
			// Slideshow 4
			$("#slider3").responsiveSlides({
				auto: true,
				pager: true,
				nav: false,
				speed: 500,
				namespace: "callbacks",
				before: function () {
					$('.events').append("<li>before event fired.</li>");
				},
				after: function () {
					$('.events').append("<li>after event fired.</li>");
				}
			});
		});
	</script>
	<div id="top" class="callbacks_container">
		<ul class="rslides" id="slider3">
			<li>
				<div class="banner1">
					<div class="container">
						<div class="banner-info2 text-center">
							<h3>Make a site for <span>your center repidly</span></h3>
							<a [routerLink]="['/dashboard']" class="hvr-outline-out button2 scroll">Create your website</a>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<div class="clearfix"></div>
</div>
<!-- //banner -->
<!-- contact -->
<app-footer></app-footer>
<!-- //contact -->